{% extends "layout.html" %}

{% block title %}Create new App{% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">

        <form method="POST" action="{{ url_for('apps.create_page') }}">

            <div class="row mt-xs">
                <div class="col-lg-12">
                    <div class="form-group">

                        <h3 class="mb-xs">{{ form.name.label.text }}</h3>
                        {{ form.name(class="form-control", placeholder="App Name", required='required') }}
                        <small>Name of app</small>

                    </div>
                </div>
            </div>

            <div class="row mt-xs">
                <div class="col-lg-12">
                    {{ form.submit(class="btn btn-primary" ) }}
                    <br>
                    <small>With clicking <b>"Create"</b> you accept <a href="#" data-target="#termsModal" data-toggle="modal">terms</a>.</small>
                    {% include 'includes/terms_modal.html' %}
                </div>
            </div>


            {{ form.csrf_token }}

        </form>

    </div>
{% endblock %}