
{% extends "layout.html" %}

{% block title %}Contact us{% endblock %}
{% block content %}

<div class="container">
        <div class="row mt-xlg">
            <div class="col-md-6">

                {% include 'includes/contact.html' %}

            </div>
            <div class="col-md-6">

                <h4 class="heading-primary mt-lg">Get in <strong>Touch</strong></h4>
                <p>
                    You’ve come to the right place! Send a message to our Support staff using the form below.
                </p>
                <p><b>What’s in a great support request?</b></p>
                 <ul>
                    <li>Provide us with as much essential information as possible.</li>
                    <li>Include any links that are related to your problem.</li>
                </ul>

                <hr>

                <h4 class="heading-primary">Business <strong>Hours</strong></h4>
                <ul class="list list-icons list-dark mt-xlg">
                    <li><i class="fa fa-clock-o"></i> Monday - Friday - 9am to 5pm </li>
                    <li><i class="fa fa-clock-o"></i> Saturday & Sunday - Closed</li>
                </ul>

            </div>

        </div>
    </div>


{% endblock %}