{% extends "layout.html" %}

{% block title %}faq{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">

            <div class="toggle toggle-primary" data-plugin-toggle>
                <section class="toggle active">
                    <label>What is your pricing?</label>
                    <div class="toggle-content">
                        <p>GeoStranger is <b>free</b>. Service is governed by
                            our terms.</p>
                    </div>
                </section>

                <section class="toggle">
                    <label>Are my identity safe?</label>
                    <div class="toggle-content">
                        Yes! We do like a "proxy". You write to our bot and we deliver your message to your Stranger.
                        Nobody can direct contact you or know how are you.

                        The only item we save in our database are your id, came with Instant Messaging (like WebChat,
                        Telegram, KIK, Skype, ecc..),
                        and is used to sent back response from other users by our bots.

                        Please referrer to privacy policy to have more information.

                    </div>

                </section>

                <section class="toggle">
                    <label>I will talk with real persons?</label>
                    <div class="toggle-content">
                        <p>Sure! Only real persons are allowed here.
                            We check periodically if user are real with simply questions for humans but difficult to
                            understand from robots.</p>
                    </div>
                </section>

                <section class="toggle">
                    <label>What type of message I can send?</label>
                    <div class="toggle-content">
                        <p>You can sent Text, Video, Audio, Voice.</p>

                    </div>
                </section>
                <section class="toggle">
                    <label>Do you save files I will sent?</label>
                    <div class="toggle-content">
                        <p>No files are saved in our system. All files will can be download by respectively Instant Messaging using a url that we provide, that expire after 5 minutes.</p>

                    </div>
                </section>

                <section class="toggle">
                    <label>Then, what data you save?</label>
                    <div class="toggle-content"><p>We only save location you provide to our.</p>
                    </div>
                </section>


            </div>

        </div>
    </div>
{% endblock %}