{% extends "layout.html" %}

{% block title %}Home{% endblock %}




{% block content %}
    <div class="row center mt-md">
        <div class="col-md-12">

            {% if is_testing == True %}
                <p class="lead">
                    <b>Site under construction</b>.
                </p>
            {% endif %}

            <h1 class="mb-sm">
                <b>Geo</b>Stranger: <strong class="inverted">anonymous</strong> <strong>geo</strong> messaging.
            </h1>
            <br>
            <p class="lead">
                Use your prefer APP like
                <a href="#instant_messaging">Telegram, Kik, Skype, Messenger,ecc..</a> and
                <b>talk with new stranger closest you</b>!
            </p>

            <hr class="tall">

        </div>
    </div>


    <!-- Google Maps -->
    <div class="row">
        <div class="col-md-12 center">
            <h2>Strangers <strong>near you</strong></h2>
            <div id="googlemaps" class="google-map mt-none mb-sm"></div>
        </div>
    </div>




{% endblock %}

{% block faq %}

    <section class="section" id="faq">
        <div class="container">

            <div class="row">
                <div class="col-md-12">


                    <div class="row">
                        <div class="col-md-7">
                            <h2 class="mb-sm center">Our <strong>Faq</strong></h2>
                            <div class="toggle toggle-primary" data-plugin-toggle>

                                <section class="toggle active">
                                    <label>Are my identity safe?</label>
                                    <div class="toggle-content">
                                        <h6><b>Yes!</b> Because we will "proxy" from you and your chat partner.<br>You
                                            write
                                            to our bot and we deliver your message to your Stranger.<br><br>
                                            <b>Nobody can direct contact you or know how are you.</b><br>
                                            <br>

                                            Please read <a href="{{ url_for('index.privacy_page') }}">privacy policy</a>
                                            to have more detailed information.</h6>

                                    </div>

                                </section>
                                <section class="toggle ">
                                    <label>What is your pricing?</label>
                                    <div class="toggle-content">
                                        <h6>GeoStranger service is <b>free forever</b> and is governed by <a
                                                href="{{ url_for('index.terms_page') }}">our terms</a>.</h6>
                                    </div>
                                </section>

                                <section class="toggle">
                                    <label>I will talk with real persons?</label>
                                    <div class="toggle-content">
                                        <h6><b>Sure!</b> Only real persons are allowed here.
                                            We check periodically if current user are real with simply questions for
                                            humans but difficult to understand from robots.</h6>
                                    </div>
                                </section>

                                <section class="toggle">
                                    <label>What type of message I can send?</label>
                                    <div class="toggle-content">
                                        <h6>You can sent <b>Text, Video, Audio, Voice</b> over all chats.

                                        </h6>

                                    </div>
                                </section>
                                <section class="toggle">
                                    <label>Do you save files/video/images I will sent?</label>
                                    <div class="toggle-content">
                                        <h6><b>No!</b> We not save any data in our system. And you are the only
                                            responsibly for what sent over our service</h6>
                                    </div>
                                </section>

                                <section class="toggle">
                                    <label>And how you retrieve location?</label>
                                    <div class="toggle-content">
                                        <h6>If you like, you location that <b>you</b> (by responding to our bot) provide
                                            to
                                            us.</h6>
                                    </div>
                                </section>

                                <section class="toggle">
                                    <label>Are my location data safe?</label>
                                    <div class="toggle-content">
                                        <h6>You provide it to our bot when it ask it or with
                                            /location command.
                                            <b>We not do any automatic geolocation by IP or other systems.</b><br>
                                            This mean that you can change it and not need to respect really your
                                            position.
                                        </h6>
                                    </div>
                                </section>


                            </div>
                        </div>
                        <div class="col-md-5">
                            <h2 class="mb-sm center">Use your prefer <strong>Instant Messaging APP</strong>
                            </h2>

                            <p>Add our bot in your App</p>

                            <table class="table">
                                <tr>
                                    <th></th>
                                    <th>App name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                <tr valign="middle">
                                    <td><img src="{{ url_for('static',filename="img/bot/telegram_logo.png") }}"
                                             class="" style="height: 45px;"></td>
                                    <td><h5 class="mb-none">Telegram</h5></td>
                                    <td><span class="text-primary">Online</span></td>
                                    <td><a target="_blank" href="https://t.me/geostrangerbot" class="btn btn-xs btn-success">Add bot to
                                        app</a></td>
                                </tr>
                                <tr>
                                    <td><img src="{{ url_for('static',filename="img/bot/Kik_Messenger_Logo.png") }}"
                                             class="" style="height: 45px;"></td>
                                    <td><h5 class="mb-none">KIK</h5></td>
                                    <td><span class="text-warning">Beta</span></td>
                                    <td><a target="_blank" href="https://bots.kik.com/#/geostrangerbot" class="btn btn-xs btn-success">Add bot to
                                        app</a></td>
                                </tr>
                                <tr>
                                    <td><img src="{{ url_for('static',filename="img/bot/logo_12-05SkypeStandard_Web-1024x477.png") }}"
                                             class="" style="height: 45px;"></td>
                                    <td><h5 class="mb-none">Skype</h5></td>
                                    <td><span class="text-warning">Beta</span></td>
                                    <td><a target="_blank" href="#" class="btn btn-xs btn-success">Add bot to
                                        app</a></td>
                                </tr>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}

{% block instant_messaging %}
    <section class="section section-primary mt-none" id="instant_messaging">
        <div class="container center">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-sm">Start Online with <strong class="inverted">WebChat</strong></h2>
                    <div id="webchat"></div>
                    <a href="#" id="startwebchat" class="btn btn-lg btn-success center">Start WebChat</a>
                    <br>
                    <br>
                    <h6>If you click "Start WebChat", you accept the
                        <a class="inverted" href="{{ url_for('index.terms_page') }}">Terms and Condition</a>.</h6>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block page_javascript %}
    <script type="text/javascript"
            src="https://maps.google.com/maps/api/js?sensor=true&key=AIzaSyCXc18EdAuOgogqdIoTNdR5YoBq99pa2LA"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='vendor/jquery.gmap/jquery.gmap.min.js') }}"></script>
    <script src="{{ url_for('index.render_script', script="index.js") }}"></script>
{% endblock %}