{% extends "layout.html" %}

{% block title %}Home{% endblock %}




{% block content %}
    <div class="row center mt-md">
        <div class="col-md-12">

            <p class="lead">
                <b>Site under construction</b>.
            </p>

            <h1 class="mb-sm">
                GeoStranger: <strong class="inverted">anonymous</strong> messaging.
            </h1>
            <br>
            <p class="lead">
                Use Telegram, Kik, Skype, Messenger or <a href="#instant_messaging">others</a> and <b> to find and talk
                with Stranger near you!</b>.
            </p>

            <hr class="tall mb-none">

        </div>
    </div>


    <!-- Google Maps -->
    <div class="row">
        <div class="col-md-12">

            <div id="googlemaps" class="google-map mt-none mb-sm"></div>
            <!-- Google Maps -->

        </div>
    </div>


{% endblock %}


{% block instant_messaging %}
    {% include 'includes/instant_messaging.html' %}
{% endblock %}


