{% extends "layout.html" %}

{% block title %}Privacy{% endblock %}
{% block content %}

    <h3>Effective date: 2018-02-15</h3>

    <p>This document is here to inform you about the privacy practices of the GeoStranger service ("GeoStranger", provided by GeoStranger.com),
        which are designed to protect your privacy to the maximum reasonable extent.<br>
        By making use of GeoStranger, you accept these practices.<br>
        This document may be updated from time to time.
        When changes are made, the effective date at the top will be changed.</p>

    <h3>Chat privacy</h3>
    <p>Chat messages are screened by an automated system for spam.
        In general, messages are not stored, but messages which are flagged by as suspicious may be stored indefinitely,
        and selected messages may be read by a human being to improve GeoStranger's anti-spam software, or for other
        quality control purposes.</p>

    <p>Check privacy of every Instant App you use.</p>

    <p>At the beginning of every chat, a record in our database is made of the fact that a chat occurred between you and
        your chat partner.
        This record includes a timestamp, ID conversation from Instant Messaging App, Type of Instant Messaging
        (WebChat, Telegram, Kik, ecc..).
        These records may be used for the purpose of tracking spammers, hackers, and others who may be harmful to the
        site;
        and may also be used for law enforcement purposes;
        or analyzed in aggregate to produce statistical data (e.g., average number of chats started at different times of day).
        These records are stored until you send <b>/delete</b> command to our chat or send an e-mail to
        info@geostranger.com with
        requesting your data to be deleted.</p>


    <p>Understand that strangers can potentially tell other people anything you tell them—whether by sharing screenshot,
        or just by repeating what you said—and be careful what information you reveal to them.<br>
        It is also possible for other users to take screenshots of video, or to use third-party software to record them.
    </p>

    <p>The records GeoStranger keeps may be shared with third parties for the purpose of law enforcement,
        to monitor and enforce compliance with GeoStranger's rules, or to improve GeoStranger's monitoring
        and enforcement processes.</p>

    <h3>Information made available to other chat users</h3>
    <p>In an GeoStranger text chat, only the following information is made available to other chat users:<br>

        Your location, in the center of the town you have indicated during welcome .<br>
        Anything you say or any media you sent in the chat.<br>
        {# A notification that you and the stranger speak the same language (other than English), if that is the case.<br> #}
        {# A notification that you are using GeoStranger's mobile Web site, if that is the case.<br> #}
        {# The name of town from where you write. #}
    </p>
    <h3>Use of cookies</h3>
    <p>GeoStranger uses cookies to save your preferences, as well as to store various
    non-personally-identifying technical information about your computer system
        (such as the capabilities it supports). GeoStranger also assigns your computer a randomly-generated ID
        cookie.</p>

    <p>Third party advertising vendors, including Google AdSense, use cookies to track information about the pages you
        visit, so that they can show you more appropriate ads.
        The cookie used by Google AdSense is called the DoubleClick DART cookie, and Google provides a way to opt out of
        being tracked by DART.
        You may also opt out of the tracking cookies used by many (but not necessarily all) other third-party ad
        vendors.</p>

    <p>GeoStranger uses Google Analytics to track non-personally-identifying statistical information about site usage.
        Google provides a browser add-on to opt out of Google Analytics.</p>

    <h3>Parental control software</h3>
    <p>Parental control protections (such as computer hardware, software, or filtering services)
        are commercially available that may assist you in limiting access to material that
        is harmful to minors. If you are interested in learning more about these protections, information
        is available at <a target="_blank" href="http://kids.getnetwise.org/tools/">http://kids.getnetwise.org/tools/</a>
        as well as a number of other Internet sites that provide information on this form of protection.</p>


{% endblock %}