{% extends "layout.html" %}

{% block title %}Registration{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-md-6 col-md-offset-3">


            <div class="featured-box featured-box-primary align-left mt-xlg">
                <div class="box-content">
                    <h4 class="heading-primary text-uppercase mb-md">Register An Account
                        <small><a href="{{ url_for('index.login_page',next=next) }}">or Sign in...</a></small>
                    </h4>
                    {#
                    <h1 class="center">In this moment, an invitation is required. Please send a request here: <a href="{{ url_for('index.contact_page') }}">Contact us</a>. Thanks! </h1>
                    #}

                    <form method="POST" action="{{ url_for('backend.registration_action') }}">
                        <input type="hidden" name="next" value="{{ next or '' }}">
                        {{ registration_form.csrf_token }}
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    * {{ registration_form.email.label }}
                                    {{ registration_form.email(class="form-control input-lg", placeholder="your@email.com", required='required') }}

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    * {{ registration_form.password.label }}
                                    {{ registration_form.password(class="form-control input-lg", required='required') }}
                                </div>
                                <div class="col-md-6">
                                    * {{ registration_form.password_confirm.label }}
                                    {{ registration_form.password_confirm(class="form-control input-lg",required='required') }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    {{ registration_form.recaptcha }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                with clicking <b>"Register"</b> you accept <a href="#" data-target="#termsModal" data-toggle="modal"> terms.</a>
                                {% include 'includes/terms_modal.html' %}
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="Register" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading...">
                            </div>
                        </div>

                    </form>


                </div>
            </div>

        </div>

    </div>

{% endblock %}