[Unit]
Description=uWSGI instance to serve Test.GeoStranger.com
After=network.target

[Service]
User=jure
Group=www-data
WorkingDirectory=/home/jure/test.geostranger.com
Environment="PATH=/home/jure/test.geostranger.com/test_geostranger_com_env/bin"
ExecStart=/home/jure/test.geostranger.com/test_geostranger_com_env/bin/uwsgi --ini test.geostranger.com.ini


[Install]
WantedBy=multi-user.target


