<footer class="short" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>GeoStranger.com - Find anonymous stranger near to you with your preferred App!</h4>

                <hr class="light">
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h5 class="mb-sm">Contact Us</h5>
                {#
                <span class="phone">(800) 123-4567</span>
                <p class="mb-none">International: (333) 456-6670</p>
                <p class="mb-none">Fax: (222) 531-8999</p>
                #}
                <ul class="list list-icons list-icons-sm">
                    <li><i class="fa fa-envelope"></i> <a href="#">info@geostranger.com</a></li>
                </ul>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="http://fb.me/geostrangerbot" target="_blank"
                                                         title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icons-twitter"><a href="https://www.twitter.com/GeoStrangerBot" target="_blank"
                                                        title="Twitter"><i class="fa fa-twitter"></i></a></li>
                </ul>
                <hr>
                <div class="fb-like" data-layout="button" data-action="like" data-size="large" data-show-faces="false"
                     data-share="false"></div>

                <hr>
                <ul class="list list-icons list-icons-sm">
                    <li><i class="fa fa-caret-right"></i> <a href="{{ url_for('index.privacy_page') }}">Privacy
                        Policy</a></li>
                    <li><i class="fa fa-caret-right"></i> <a href="{{ url_for('index.terms_page') }}">Terms &
                        Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <a href="{{ url_for('index.index_page', _external=true, _scheme='https') }}" class="logo">
                        <img alt="{{ url_for('index.index_page', _external=true, _scheme='https') }}"
                             class="img-responsive"
                             src="{{ url_for('static', filename='img/logo/footer_logo.png') }}">
                    </a>
                </div>
                <div class="col-md-11">
                    <p>© Copyright {{ now.year }}. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>