<section class="section section-primary mt-none" id="instant_messaging">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>All <strong>Bots</strong></h2>

                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-3">

                                <span class="thumb-info thumb-info-hide-wrapper-bg">
                                    <span class="thumb-info-wrapper">
                                        <img src="{{ url_for('static',filename="img/bot/messenger_logo.png") }}" class="img-responsive" alt="">
                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner">Messenger - Facebook</span>
                                            <span class="thumb-info-type">Bot: <a href="#">@GeoStrangerBot</a></span>
                                        </span>
                                    </span>
                                    <span class="thumb-info-caption">
                                        <span class="thumb-info-caption-text">Start messaging here: <a href="#">@GeoStrangerBot</a>.</span>

                                    </span>
                                </span>
                            </div>

                            <div class="col-md-3">

                                <span class="thumb-info thumb-info-hide-wrapper-bg">
                                    <span class="thumb-info-wrapper">
                                        <img src="{{ url_for('static',filename="img/bot/telegram_logo.png") }}" class="img-responsive" alt="">
                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner">Telegram</span>
                                            <span class="thumb-info-type">Bot: <a href="#">@GeoStrangerBot</a></span>
                                        </span>
                                    </span>
                                    <span class="thumb-info-caption">
                                        <span class="thumb-info-caption-text">Start messaging here: <a href="#">@GeoStrangerBot</a>.</span>

                                    </span>
                                </span>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
