<table class="table">
    <tr>
        <th></th>
        <th>App name</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for app in apps %}

        {% if not show or show == app.status %}
            <tr valign="middle">
                <td>
                    <img src="{{ url_for('static',filename=app.logo) }}" class="" style="height: 45px;"></td>
                <td><h5 class="mb-none">{{ app.name }}</h5>
                    {% if app.info %}
                        <span data-plugin-tooltip="" href="#" data-original-title="{{ app.info }}">Info</span>
                    {% endif %}
                </td>
                <td>{% if app.status != 'online' %}
                    <span class="text-warning">{{ app.status|title }}</span>
                {% else %}
                    <span class="text-primary">{{ app.status|title }}</span>
                {% endif %}
                </td>
                <td>
                    {% if app.link %}
                        <a target="_blank" href="{{ app.link }}"
                           class="btn btn-xs btn-success">Add bot to
                            app</a>
                    {% else %}
                        <a disabled="disabled"
                           class="btn btn-xs btn-success">Add bot to
                            app</a>
                    {% endif %}
                </td>
            </tr>

        {% endif %}

    {% endfor %}

</table>
