<section class="section section-primary mt-none" id="instant_messaging">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Latest <strong>Projects</strong></h2>

                <div class="owl-carousel owl-theme" data-plugin-options='{"items": 4, "margin": 20, "loop": false}'>

                    <div class="portfolio-item">
                        <a href="#popupProject" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="img/projects/project.jpg" class="img-responsive" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Presentation</span>
                                        <span class="thumb-info-type">Brand</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <span class="thumb-info-action-icon"><i class="fa fa-plus-square"></i></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <!-- Popup Project - Start -->
                        <div id="popupProject" class="popup-inline-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portfolio-title">
                                        <div class="row">
                                            <div class="portfolio-nav-all col-md-1">
                                                <a href="#" data-portfolio-close><i class="fa fa-th"></i></a>
                                            </div>
                                            <div class="col-md-10 center">
                                                <h2 class="mb-none">Presentation</h2>
                                            </div>
                                            <div class="portfolio-nav col-md-1">
                                                <a href="#" data-portfolio-prev class="portfolio-nav-prev"><i class="fa fa-chevron-left"></i></a>
                                                <a href="#" data-portfolio-next class="portfolio-nav-next"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="tall">
                                </div>
                            </div>

                            <div class="row mb-xl">
                                <div class="col-md-4">

                                    <span class="img-thumbnail">
                                        <img alt="" class="img-responsive" src="img/projects/project.jpg">
                                    </span>

                                </div>

                                <div class="col-md-8">

                                    <div class="portfolio-info">
                                        <div class="row">
                                            <div class="col-md-12 center">
                                                <ul>
                                                    <li>
                                                        <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i> 01 January 2016
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="mt-sm">Project Description</h5>
                                    <p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

                                    <a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a>

                                    <ul class="portfolio-details">
                                        <li>
                                            <h5 class="mt-sm mb-xs">Skills</h5>

                                            <ul class="list list-inline list-icons">
                                                <li><i class="fa fa-check-circle"></i> Design</li>
                                                <li><i class="fa fa-check-circle"></i> HTML/CSS</li>
                                                <li><i class="fa fa-check-circle"></i> Javascript</li>
                                                <li><i class="fa fa-check-circle"></i> Backend</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="mt-sm mb-xs">Client</h5>
                                            <p>Okler Themes</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- Popup Project - End -->
                    </div>
                    <div class="portfolio-item">
                        <a href="#popupProject2" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
                                <span class="thumb-info-wrapper">
                                    <img src="img/projects/project-1.jpg" class="img-responsive" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Porto Watch</span>
                                        <span class="thumb-info-type">Media</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <span class="thumb-info-action-icon"><i class="fa fa-plus-square"></i></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <!-- Popup Project 2 - Start -->
                        <div id="popupProject2" class="popup-inline-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portfolio-title">
                                        <div class="row">
                                            <div class="portfolio-nav-all col-md-1">
                                                <a href="#" data-portfolio-close><i class="fa fa-th"></i></a>
                                            </div>
                                            <div class="col-md-10 center">
                                                <h2 class="mb-none">Porto Watch</h2>
                                            </div>
                                            <div class="portfolio-nav col-md-1">
                                                <a href="#" data-portfolio-prev class="portfolio-nav-prev"><i class="fa fa-chevron-left"></i></a>
                                                <a href="#" data-portfolio-next class="portfolio-nav-next"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="tall">
                                </div>
                            </div>

                            <div class="row mb-xl">
                                <div class="col-md-4">

                                    <div class="owl-carousel owl-theme" data-plugin-options='{"items": 1, "margin": 10, "animateOut": "fadeOut", "autoplay": true, "autoplayTimeout": 3000}'>
                                        <div>
                                            <span class="img-thumbnail">
                                                <img alt="" class="img-responsive" src="img/projects/project-1.jpg">
                                            </span>
                                        </div>
                                        <div>
                                            <span class="img-thumbnail">
                                                <img alt="" class="img-responsive" src="img/projects/project-1-2.jpg">
                                            </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-8">

                                    <div class="portfolio-info">
                                        <div class="row">
                                            <div class="col-md-12 center">
                                                <ul>
                                                    <li>
                                                        <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i> 01 January 2016
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="mt-sm">Project Description</h5>
                                    <p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

                                    <a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a>

                                    <ul class="portfolio-details">
                                        <li>
                                            <h5 class="mt-sm mb-xs">Skills</h5>

                                            <ul class="list list-inline list-icons">
                                                <li><i class="fa fa-check-circle"></i> Design</li>
                                                <li><i class="fa fa-check-circle"></i> HTML/CSS</li>
                                                <li><i class="fa fa-check-circle"></i> Javascript</li>
                                                <li><i class="fa fa-check-circle"></i> Backend</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="mt-sm mb-xs">Client</h5>
                                            <p>Okler Themes</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- Popup Project 2 - End -->
                    </div>
                    <div class="portfolio-item">
                        <a href="#popupProject3" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="img/projects/project-2.jpg" class="img-responsive" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Identity</span>
                                        <span class="thumb-info-type">Logo</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <span class="thumb-info-action-icon"><i class="fa fa-plus-square"></i></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <!-- Popup Project 3 - Start -->
                        <div id="popupProject3" class="popup-inline-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portfolio-title">
                                        <div class="row">
                                            <div class="portfolio-nav-all col-md-1">
                                                <a href="#" data-portfolio-close><i class="fa fa-th"></i></a>
                                            </div>
                                            <div class="col-md-10 center">
                                                <h2 class="mb-none">Identity</h2>
                                            </div>
                                            <div class="portfolio-nav col-md-1">
                                                <a href="#" data-portfolio-prev class="portfolio-nav-prev"><i class="fa fa-chevron-left"></i></a>
                                                <a href="#" data-portfolio-next class="portfolio-nav-next"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="tall">
                                </div>
                            </div>

                            <div class="row mb-xl">
                                <div class="col-md-4">

                                    <span class="img-thumbnail">
                                        <img alt="" class="img-responsive" src="img/projects/project-2.jpg">
                                    </span>

                                </div>

                                <div class="col-md-8">

                                    <div class="portfolio-info">
                                        <div class="row">
                                            <div class="col-md-12 center">
                                                <ul>
                                                    <li>
                                                        <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i> 01 January 2016
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="mt-sm">Project Description</h5>
                                    <p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

                                    <a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a>

                                    <ul class="portfolio-details">
                                        <li>
                                            <h5 class="mt-sm mb-xs">Skills</h5>

                                            <ul class="list list-inline list-icons">
                                                <li><i class="fa fa-check-circle"></i> Design</li>
                                                <li><i class="fa fa-check-circle"></i> HTML/CSS</li>
                                                <li><i class="fa fa-check-circle"></i> Javascript</li>
                                                <li><i class="fa fa-check-circle"></i> Backend</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="mt-sm mb-xs">Client</h5>
                                            <p>Okler Themes</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- Popup Project 3 - End -->
                    </div>
                    <div class="portfolio-item">
                        <a href="#popupProject4" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="img/projects/project-3.jpg" class="img-responsive" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Watch Mockup</span>
                                        <span class="thumb-info-type">Brand</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <span class="thumb-info-action-icon"><i class="fa fa-plus-square"></i></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <!-- Popup Project 4 - Start -->
                        <div id="popupProject4" class="popup-inline-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portfolio-title">
                                        <div class="row">
                                            <div class="portfolio-nav-all col-md-1">
                                                <a href="#" data-portfolio-close><i class="fa fa-th"></i></a>
                                            </div>
                                            <div class="col-md-10 center">
                                                <h2 class="mb-none">Watch Mockup</h2>
                                            </div>
                                            <div class="portfolio-nav col-md-1">
                                                <a href="#" data-portfolio-prev class="portfolio-nav-prev"><i class="fa fa-chevron-left"></i></a>
                                                <a href="#" data-portfolio-next class="portfolio-nav-next"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="tall">
                                </div>
                            </div>

                            <div class="row mb-xl">
                                <div class="col-md-4">

                                    <span class="img-thumbnail">
                                        <img alt="" class="img-responsive" src="img/projects/project-3.jpg">
                                    </span>

                                </div>

                                <div class="col-md-8">

                                    <div class="portfolio-info">
                                        <div class="row">
                                            <div class="col-md-12 center">
                                                <ul>
                                                    <li>
                                                        <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i> 01 January 2016
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="mt-sm">Project Description</h5>
                                    <p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

                                    <a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a>

                                    <ul class="portfolio-details">
                                        <li>
                                            <h5 class="mt-sm mb-xs">Skills</h5>

                                            <ul class="list list-inline list-icons">
                                                <li><i class="fa fa-check-circle"></i> Design</li>
                                                <li><i class="fa fa-check-circle"></i> HTML/CSS</li>
                                                <li><i class="fa fa-check-circle"></i> Javascript</li>
                                                <li><i class="fa fa-check-circle"></i> Backend</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="mt-sm mb-xs">Client</h5>
                                            <p>Okler Themes</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- Popup Project 4 - End -->
                    </div>
                    <div class="portfolio-item">
                        <a href="#popupProject5" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="img/projects/project-4.jpg" class="img-responsive" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Three Bottles</span>
                                        <span class="thumb-info-type">Logo</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <span class="thumb-info-action-icon"><i class="fa fa-plus-square"></i></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <!-- Popup Project 5 - Start -->
                        <div id="popupProject5" class="popup-inline-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portfolio-title">
                                        <div class="row">
                                            <div class="portfolio-nav-all col-md-1">
                                                <a href="#" data-portfolio-close><i class="fa fa-th"></i></a>
                                            </div>
                                            <div class="col-md-10 center">
                                                <h2 class="mb-none">Three Bottles</h2>
                                            </div>
                                            <div class="portfolio-nav col-md-1">
                                                <a href="#" data-portfolio-prev class="portfolio-nav-prev"><i class="fa fa-chevron-left"></i></a>
                                                <a href="#" data-portfolio-next class="portfolio-nav-next"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="tall">
                                </div>
                            </div>

                            <div class="row mb-xl">
                                <div class="col-md-4">

                                    <span class="img-thumbnail">
                                        <img alt="" class="img-responsive" src="img/projects/project-4.jpg">
                                    </span>

                                </div>

                                <div class="col-md-8">

                                    <div class="portfolio-info">
                                        <div class="row">
                                            <div class="col-md-12 center">
                                                <ul>
                                                    <li>
                                                        <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i> 01 January 2016
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="mt-sm">Project Description</h5>
                                    <p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

                                    <a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a>

                                    <ul class="portfolio-details">
                                        <li>
                                            <h5 class="mt-sm mb-xs">Skills</h5>

                                            <ul class="list list-inline list-icons">
                                                <li><i class="fa fa-check-circle"></i> Design</li>
                                                <li><i class="fa fa-check-circle"></i> HTML/CSS</li>
                                                <li><i class="fa fa-check-circle"></i> Javascript</li>
                                                <li><i class="fa fa-check-circle"></i> Backend</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="mt-sm mb-xs">Client</h5>
                                            <p>Okler Themes</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- Popup Project 5 - End -->
                    </div>
                    <div class="portfolio-item">
                        <a href="#popupProject6" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="img/projects/project-5.jpg" class="img-responsive" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Company T-Shirt</span>
                                        <span class="thumb-info-type">Brand</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <span class="thumb-info-action-icon"><i class="fa fa-plus-square"></i></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <!-- Popup Project 6 - Start -->
                        <div id="popupProject6" class="popup-inline-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portfolio-title">
                                        <div class="row">
                                            <div class="portfolio-nav-all col-md-1">
                                                <a href="#" data-portfolio-close><i class="fa fa-th"></i></a>
                                            </div>
                                            <div class="col-md-10 center">
                                                <h2 class="mb-none">Company T-Shirt</h2>
                                            </div>
                                            <div class="portfolio-nav col-md-1">
                                                <a href="#" data-portfolio-prev class="portfolio-nav-prev"><i class="fa fa-chevron-left"></i></a>
                                                <a href="#" data-portfolio-next class="portfolio-nav-next"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="tall">
                                </div>
                            </div>

                            <div class="row mb-xl">
                                <div class="col-md-4">

                                    <span class="img-thumbnail">
                                        <img alt="" class="img-responsive" src="img/projects/project-5.jpg">
                                    </span>

                                </div>

                                <div class="col-md-8">

                                    <div class="portfolio-info">
                                        <div class="row">
                                            <div class="col-md-12 center">
                                                <ul>
                                                    <li>
                                                        <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i> 01 January 2016
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="mt-sm">Project Description</h5>
                                    <p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

                                    <a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a>

                                    <ul class="portfolio-details">
                                        <li>
                                            <h5 class="mt-sm mb-xs">Skills</h5>

                                            <ul class="list list-inline list-icons">
                                                <li><i class="fa fa-check-circle"></i> Design</li>
                                                <li><i class="fa fa-check-circle"></i> HTML/CSS</li>
                                                <li><i class="fa fa-check-circle"></i> Javascript</li>
                                                <li><i class="fa fa-check-circle"></i> Backend</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="mt-sm mb-xs">Client</h5>
                                            <p>Okler Themes</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- Popup Project 6 - End -->
                    </div>
                    <div class="portfolio-item">
                        <a href="#popupProject7" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="img/projects/project-6.jpg" class="img-responsive" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Mobile Mockup</span>
                                        <span class="thumb-info-type">Website</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <span class="thumb-info-action-icon"><i class="fa fa-plus-square"></i></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <!-- Popup Project 7 - Start -->
                        <div id="popupProject7" class="popup-inline-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portfolio-title">
                                        <div class="row">
                                            <div class="portfolio-nav-all col-md-1">
                                                <a href="#" data-portfolio-close><i class="fa fa-th"></i></a>
                                            </div>
                                            <div class="col-md-10 center">
                                                <h2 class="mb-none">Mobile Mockup</h2>
                                            </div>
                                            <div class="portfolio-nav col-md-1">
                                                <a href="#" data-portfolio-prev class="portfolio-nav-prev"><i class="fa fa-chevron-left"></i></a>
                                                <a href="#" data-portfolio-next class="portfolio-nav-next"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="tall">
                                </div>
                            </div>

                            <div class="row mb-xl">
                                <div class="col-md-4">

                                    <span class="img-thumbnail">
                                        <img alt="" class="img-responsive" src="img/projects/project-6.jpg">
                                    </span>

                                </div>

                                <div class="col-md-8">

                                    <div class="portfolio-info">
                                        <div class="row">
                                            <div class="col-md-12 center">
                                                <ul>
                                                    <li>
                                                        <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i> 01 January 2016
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="mt-sm">Project Description</h5>
                                    <p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

                                    <a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a>

                                    <ul class="portfolio-details">
                                        <li>
                                            <h5 class="mt-sm mb-xs">Skills</h5>

                                            <ul class="list list-inline list-icons">
                                                <li><i class="fa fa-check-circle"></i> Design</li>
                                                <li><i class="fa fa-check-circle"></i> HTML/CSS</li>
                                                <li><i class="fa fa-check-circle"></i> Javascript</li>
                                                <li><i class="fa fa-check-circle"></i> Backend</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="mt-sm mb-xs">Client</h5>
                                            <p>Okler Themes</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- Popup Project 7 - End -->
                    </div>
                    <div class="portfolio-item">
                        <a href="#popupProject8" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="img/projects/project-7.jpg" class="img-responsive" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Porto Label</span>
                                        <span class="thumb-info-type">Media</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <span class="thumb-info-action-icon"><i class="fa fa-plus-square"></i></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <!-- Popup Project 8 - Start -->
                        <div id="popupProject8" class="popup-inline-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portfolio-title">
                                        <div class="row">
                                            <div class="portfolio-nav-all col-md-1">
                                                <a href="#" data-portfolio-close><i class="fa fa-th"></i></a>
                                            </div>
                                            <div class="col-md-10 center">
                                                <h2 class="mb-none">Porto Label</h2>
                                            </div>
                                            <div class="portfolio-nav col-md-1">
                                                <a href="#" data-portfolio-prev class="portfolio-nav-prev"><i class="fa fa-chevron-left"></i></a>
                                                <a href="#" data-portfolio-next class="portfolio-nav-next"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="tall">
                                </div>
                            </div>

                            <div class="row mb-xl">
                                <div class="col-md-4">

                                    <span class="img-thumbnail">
                                        <img alt="" class="img-responsive" src="img/projects/project-7.jpg">
                                    </span>

                                </div>

                                <div class="col-md-8">

                                    <div class="portfolio-info">
                                        <div class="row">
                                            <div class="col-md-12 center">
                                                <ul>
                                                    <li>
                                                        <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i> 01 January 2016
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="mt-sm">Project Description</h5>
                                    <p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

                                    <a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a>

                                    <ul class="portfolio-details">
                                        <li>
                                            <h5 class="mt-sm mb-xs">Skills</h5>

                                            <ul class="list list-inline list-icons">
                                                <li><i class="fa fa-check-circle"></i> Design</li>
                                                <li><i class="fa fa-check-circle"></i> HTML/CSS</li>
                                                <li><i class="fa fa-check-circle"></i> Javascript</li>
                                                <li><i class="fa fa-check-circle"></i> Backend</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="mt-sm mb-xs">Client</h5>
                                            <p>Okler Themes</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- Popup Project 8 - End -->
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
