<section class="parallax section section-parallax section-center mb-none" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax-transparent.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <i class="icon-featured fa fa-envelope appear-animation" data-appear-animation="bounceIn"></i>
                <h2 class="mb-none"><strong>Find Stranger Near You</strong></h2>
            </div>
        </div>
    </div>
</section>

<!-- Google Maps -->
<div id="googlemaps" class="google-map mt-none mb-sm"></div>