<header id="header"
        class="header-narrow header-transparent-sticky-deactive header-transparent-bottom-border header-flex"
        data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 1, 'stickySetTop': '1'}">
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-logo">
                        <a href="{{ url_for('index.index_page', _external=true, _scheme='https') }}">
                            <img alt="{{ url_for('index.index_page', _external=true, _scheme='https') }}"
                                 height="54" data-sticky-width="82" data-sticky-height="40" data-sticky-top="33"
                                 src="{{ url_for('static', filename='img/logo/top_logo.png') }}">
                        </a>
                    </div>
                </div>
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-nav header-nav-dark-dropdown">
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                    data-target=".header-nav-main">
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul class="header-social-icons social-icons hidden-xs">
                                <li class="social-icons-facebook"><a href="https://fb.me/geostrangerbot"
                                                                     target="_blank" title="Facebook"><i
                                        class="fa fa-facebook"></i></a></li>
                                <li class="social-icons-twitter"><a href="https://twitter.com/GeoStrangerBot"
                                                                    target="_blank" title="Twitter"><i
                                        class="fa fa-twitter"></i></a></li>
                            </ul>
                            <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1 collapse">
                                <nav>
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="{{ is_active(['index.index_page']) }}">
                                            <a href="{{ url_for('index.index_page') }}">Home</a>
                                        </li>
                                        <li class="#">
                                            <a href="#faq">Faq</a>
                                        </li>
                                        <li class="">
                                            <a href="#startwebchat">Web Chat</a>
                                        </li>

                                        <li class="{{ is_active(['index.contact_page']) }}">
                                            <a href="{{ url_for('index.contact_page') }}">Contact Us</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>