<h2 class="mb-none">By using the GeoStranger.com you agree to the following terms:</h2>
<p class="lead">and/or related products and/or services (from now "GeoStrangerBot")</p>

<ul>
    <li> Do not use GeoStrangerBot if you are under 13. If you are under 18, use it only with a parent/guardian's permission.
    </li>
    <li>Do not transmit nudity, sexually harass anyone, publicize other peoples' private information, make statements
        that defame or libel anyone, violate intellectual property rights, use automated programs to start chats, or
        behave in any other inappropriate or illegal way on GeoStrangerBot.
    </li>
    <li>Understand that human behavior is fundamentally uncontrollable, that the people you encounter on GeoStrangerBot may
        not behave appropriately, and that they are solely responsible for their own behavior.
    </li>
    <li>Use GeoStrangerBot at your own peril. Disconnect if anyone makes you feel uncomfortable.</li>
    <li>You may be denied access to GeoStrangerBot for inappropriate behavior, or for any other reason.</li>
    <li>All trademarks shown belong to their legitimate owners; Third party brands, product names, trade names, corporate
        names and companies mentioned may be trademarks of their respective owners or registered trademarks of other companies
        and have been used for the sole purpose of explanation and for the benefit of the holder, without any violation of
        current Copyright rights.
    </li>


    <li><b>GEOSTRANGERBOT IS PROVIDED AS IS, AND TO THE MAXIMUM EXTENT ALLOWED BY APPLICABLE LAW, IT IS PROVIDED WITHOUT
        ANY WARRANTY, EXPRESS OR IMPLIED, NOT EVEN A WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. TO
        THE MAXIMUM EXTENT ALLOWED BY APPLICABLE LAW, THE PROVIDER OF GEOSTRANGERBOT, AND ANY OTHER PERSON OR ENTITY
        ASSOCIATED WITH GEOSTRANGERBOT'S OPERATION, SHALL NOT BE HELD LIABLE FOR ANY DIRECT OR INDIRECT DAMAGES ARISING
        FROM THE USE OF GEOSTRANGERBOT, OR ANY OTHER DAMAGES RELATED TO GEOSTRANGERBOT OF ANY KIND WHATSOEVER. By using
        GeoStrangerBot, you accept the practices outlined in GeoStrangerBot's
        <a href="{{ url_for('index.privacy_page') }}">PRIVACY POLICY</a>.</b></li>
</ul>