<h3>All sites are allowed except when they contain:</h3>
<ul>
    <li>Frame breaking script</li>
    <li>Automatically attempt to download software or change any user settings</li>
    <li>Warez or Software Piracy related</li>
    <li>Hacking Related</li>
    <li>Popup any windows on entry or exit of any kind</li>
    <li>Adult or Pornographic related</li>
    <li>Hate, Bigotry, and/or Intolerance</li>
    <li>Music Piracy Related</li>
    <li>Anything related to illegal activity</li>
</ul>

<h3 class="mt-lg">In additional you accept:</h3>

<ul>
    <li><i>This service is provided "as is" without express or implied warranty</i>.</li>
</ul>