<h2 class="mb-none">Terms and Conditions</h2>
<p class="lead">By using the GeoStranger.com (from now "GeoStranger") and/or related products and services, you agree to
    the following terms:</p>

<ul>
    <li> Do not use GeoStranger if you are under 13. If you are under 18, you shall use it under a parent/guardian's
        supervision.
    </li>
    <li>Do not share Nudity and/or sexually explicit material, intimidate and/or sexually harass anyone.</li>
    <li>Photographs shared by you may not contain nudity, violence, or offensive subject matters.</li>
    <li>Do not publish other peoples' private information, make statements that defame or libel anyone and/or violate
        intellectual property rights.
    </li>
    <li>Do not use automated programs to start chats, or behave in any other inappropriate or illegal way on
        GeoStranger.
    </li>
    <li>Understand that human behavior is fundamentally uncontrollable, that the people you encounter on GeoStranger
        may
        not behave appropriately, and that they are solely responsible for their own behavior.
    </li>
    <li>Use GeoStranger at your own peril. Disconnect if anyone makes you feel uncomfortable.</li>
    <li>You may be denied access to GeoStranger for inappropriate behavior.</li>
    <li>All trademarks shown belong to their legitimate owners; Third party brands, product names, trade names,
        corporate
        names and companies mentioned may be trademarks of their respective owners or registered trademarks of other
        companies
        and have been used for the sole purpose of explanation and for the benefit of the holder, without any violation
        of current Copyright rights.
    </li>

    <li><b>GEOSTRANGER IS PROVIDED AS IS, AND TO THE MAXIMUM EXTENT ALLOWED BY APPLICABLE LAW, IT IS PROVIDED WITHOUT
        ANY WARRANTY, EXPRESS OR IMPLIED, NOT EVEN A WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. TO
        THE MAXIMUM EXTENT ALLOWED BY APPLICABLE LAW, THE PROVIDER OF GEOSTRANGER, AND ANY OTHER PERSON OR ENTITY
        ASSOCIATED WITH GEOSTRANGER'S OPERATION, SHALL NOT BE HELD LIABLE FOR ANY DIRECT OR INDIRECT DAMAGES ARISING
        FROM THE USE OF GEOSTRANGER, OR ANY OTHER DAMAGES RELATED TO GEOSTRANGER OF ANY KIND WHATSOEVER.</b></li>
    <li>By using
        GeoStranger, you accept the practices outlined in GeoStranger's
        <a href="{{ url_for('index.privacy_page') }}">PRIVACY POLICY</a></li>
</ul>