<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/meta.html' %}
    <title>{% block title %}Home{% endblock %} - GeoStranger.com</title>

    {% include 'includes/standard_css.html' %}

    {% block page_css %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-elements.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skins/green.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">


</head>
<body data-target="#header" data-spy="scroll" data-offset="100">
<div class="body">
    {% include 'includes/menu.html' %}
    <div role="main" class="main mt20" id="home">


        {% block index %}
        {% endblock %}

        {% block top_page %}{% endblock %}
        {% include('includes/info_in_page.html') %}

        <section>
            <div class="container">
                <div class="row mt-xlg">
                    <div class="col-lg-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>

        {% block maps %}{% endblock %}

        {% block faq %}{% endblock %}
        {% block instant_messaging %}{% endblock %}

    </div>
    {% include 'includes/footer.html' %}

</div>

{% include 'includes/standard_js.html' %}


<!-- Vendor -->
<script src="{{ url_for('static', filename='vendor/common/common.min.js') }}"></script>


<!-- Theme Base, Components and Settings -->
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>

<!-- Theme Custom -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

<!-- Theme Initialization Files -->
<script src="{{ url_for('static', filename='js/theme.init.js') }}"></script>


{% block page_javascript %}{% endblock %}

{% if is_testing == False %}
    {% include 'includes/analytics_google.html' %}
{% endif %}




</body>
</html>